node_modules
build
.DS_Store
.env
.env.*

# MusicDiscovery (embedded project)
MusicDiscovery/**/node_modules
MusicDiscovery/**/dist
MusicDiscovery/**/.turbo
MusicDiscovery/**/.env
MusicDiscovery/**/.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
